body {
	/* Image Location */
	background-image: url("../images/one-black-dog.jpg");

	/* Background image is centered vertically and horizontally at all times */
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #464646;
	/* Font Colour */
	color:white;
}

#contBtn {
	position: relative;
	top: 1.5em;
	text-decoration: none;
	background: #0d6efd;
	color: #fff;
	font-family: 'Source Sans Pro', sans-serif;
	margin: auto;
	padding: .8em 3em;
	-webkit-box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.21);
	-moz-box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.21);
	box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.21);
	border-radius: 25px;
	-webkit-transition: all .4s ease;
		  -moz-transition: all .4s ease;
		  -o-transition: all .4s ease;
		  transition: all .4s ease;
  }
  